rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwnerEmail() {
      return request.auth.token.email == 'rohitvetma101010@gmail.com';
    }

    function getUserRole(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data.role;
    }
    
    function isOwnerOrAdmin() {
      if (isOwnerEmail()) {
        return true;
      }
      if (isSignedIn() && exists(/databases/$(database)/documents/users/$(request.auth.uid))) {
          let userRole = getUserRole(request.auth.uid);
          return userRole == 'admin' || userRole == 'owner';
      }
      return false;
    }

    // User Profiles:
    match /users/{userId} {
      allow read: if isSignedIn() && (request.auth.uid == userId || isOwnerOrAdmin());
      allow create: if isSignedIn() && (request.auth.uid == userId || isOwnerOrAdmin());
      allow update: if isSignedIn() && (request.auth.uid == userId || isOwnerOrAdmin());
      allow delete: if isOwnerOrAdmin();
    }
    
    // Access Requests:
    match /access_requests/{requestId} {
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow read, list, update, delete: if isOwnerOrAdmin();
    }
    
    // Data collections can be managed by authorized roles.
    match /parties/{partyId} {
       allow read, write: if isSignedIn() && (getUserRole(request.auth.uid) in ['editor', 'manager', 'admin', 'owner']);
       allow delete: if isSignedIn() && (getUserRole(request.auth.uid) in ['manager', 'admin', 'owner']);
    }

    match /itemGroups/{itemGroupId} {
       allow read, write: if isSignedIn() && (getUserRole(request.auth.uid) in ['editor', 'manager', 'admin', 'owner']);
       allow delete: if isSignedIn() && (getUserRole(request.auth.uid) in ['manager', 'admin', 'owner']);
    }

    match /items/{itemId} {
       allow read, write: if isSignedIn() && (getUserRole(request.auth.uid) in ['editor', 'manager', 'admin', 'owner']);
       allow delete: if isSignedIn() && (getUserRole(request.auth.uid) in ['manager', 'admin', 'owner']);
    }

    match /billingRecords/{billingRecordId} {
       allow read, write: if isSignedIn() && (getUserRole(request.auth.uid) in ['editor', 'manager', 'admin', 'owner']);
       allow delete: if isSignedIn() && (getUserRole(request.auth.uid) in ['manager', 'admin', 'owner']);
    }

    // Audit Logs:
    match /logs/{logId} {
      allow read, write: if isOwnerOrAdmin();
    }
  }
}
